/*
** font-family: 'Cutive Mono', monospace; lighter
** font-family: 'Courier Prime', monospace; bolder
*/
*{
    padding:0;
    margin:0;
}
.cursorPointer{
    cursor: pointer;
}


body{
    margin: 0;
    background-color: #343434;
    padding: 0px 0 0;
    height: 100vh;
   
    padding: 20px 0 0;
}
.container{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    font-size: 0;
}
.container .cacaPalavra, .container .palavrasEncontradas{
    width: 100%;
    display: inline-block;
    vertical-align: top;
}
    .container .cacaPalavra{
     background-color: #7a7a7a;
     border-radius: 20px 0 20px 20px;
     padding: 0 20px 15px;
     max-width: 65.86%;
    }
        .container .cacaPalavra .tituloCacaPalavras{
            background-color: #faa916;
            padding: 12px 0;
            border-radius: 0 0 20px 20px;
            margin: 0 0 18px;
        }
            .container .cacaPalavra .tituloCacaPalavras h2{
                font-size: 22px;
                font-family: 'Courier Prime', monospace;
                font-weight: 600;
                text-align: center;
                margin: 0;
                color: #fff;
            }
        .container .cacaPalavra table{
            margin:0 auto;
        }
            .container .cacaPalavra table tr{}
                .container .cacaPalavra table tr td{
                    font-size: 25px;
                    font-family: 'Courier Prime', monospace;
                    padding: 3px 3px;
                    color: #fff;
                    opacity: 0;
                    
                    opacity: 0;
                }
                .container .cacaPalavra table tr td.opacidade{
                    opacity: 1;
                    
                }
        .container .palavrasEncontradas{
            background-color: #6b6b6b;
            border-radius: 0 20px 20px 0;
            padding: 15px 35px;
            max-width: 26.28%;
            width: 0;
            overflow: hidden;
            padding: 0;
            -webkit-transition: ease-in-out 1s;
            -moz-transition: ease-in-out 1s;
            -ms-transition: ease-in-out 1s;
            -o-transition: ease-in-out 1s;
            transition: ease-in-out 1s;
            min-height: 199px;
        }
        .container .palavrasEncontradas.openPalavrasEncontradas{
            width: 100%;
        }
            .container .palavrasEncontradas .palavrasEncontradas_palavras{
                opacity: 0;
                -webkit-transition: ease-in-out .2s;
                -moz-transition: ease-in-out .2s;
                -ms-transition: ease-in-out .2s;
                -o-transition: ease-in-out .2s;
                transition: ease-in-out .2s;
                padding: 15px 24px;
            }
            .container .palavrasEncontradas .palavrasEncontradas_palavras.showPalavrasEncontradas{
                opacity: 1;
            }
                .container .palavrasEncontradas .palavrasEncontradas_palavras ol{
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    font-size: 0;
                }
                    .container .palavrasEncontradas .palavrasEncontradas_palavras ol li{
                        font-size: 20px;
                        font-family: 'Cutive Mono', monospace;
                        color: #fff;
                        margin: 0 0 10px;
                        display: inline-block;
                        width: 100%;
                        max-width: 50%;
                        vertical-align: top;
                    }
                    .container .palavrasEncontradas .palavrasEncontradas_palavras ol li.dicaLi{
                        font-weight: 600;
                        margin: 0;
                        font-size: 25px;
                        max-width: 80%;
                      
                    }
            .container .palavrasEncontradas .form{
                padding-top: 30px;
                opacity: 0;
                -webkit-transition: ease-in-out .2s;
                -moz-transition: ease-in-out .2s;
                -ms-transition: ease-in-out .2s;
                -o-transition: ease-in-out .2s;
                transition: ease-in-out .2s;
                padding: 15px 35px;
            }
            .container .palavrasEncontradas .form.showPalavrasEncontradas{
                opacity: 1;
            }
                .container .palavrasEncontradas .form input{
                    padding: 10px 10px;
                    display: block;
                    width: 100%;
                    max-width: 274px;
                    border: none;
                    outline: none;
                    font-family: 'Courier Prime', monospace;
                    border: 2px solid transparent;
                    -webkit-transition: ease-in-out .1s;
                    -moz-transition: ease-in-out .1s;
                    -ms-transition: ease-in-out .1s;
                    -o-transition: ease-in-out .1s;
                    transition: ease-in-out .1s;
                }
                .container .palavrasEncontradas .form input.validar{
                    border-color: red;
                    color: red;
                }
                .container .palavrasEncontradas .form button{
                    width: 150px;
                    height: 40px;
                    border: none;
                    margin: 10px 0 0 auto;
                    display: block;
                    background-color: #f9a92f;
                    color: #fff;
                    outline: none;
                    cursor: pointer;
                    font-family: 'Courier Prime', monospace;
                    text-transform: uppercase;
                    padding: 0;
                    font-size: 15px;
                }
            .container .palavrasEncontradas span{
                display: block;
                font-size: 40px;
                position: fixed;
                top: 0;
                left: 50%;
                color: #fff;
                font-family: 'Courier Prime', monospace;
                z-index: 3;
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -o-transform: translateX(-50%);
                transform: translateX(-50%);
                padding: 16px 20px;
                opacity: 0;
                -webkit-transition: ease-in-out .3s;
                -moz-transition: ease-in-out .3s;
                -ms-transition: ease-in-out .3s;
                -o-transition: ease-in-out .3s;
                transition: ease-in-out .3s;
            }
            .container .palavrasEncontradas span.show-message{
                opacity: 1;
            }
            .container .palavrasEncontradas .error-message{
                background-color: red;
            }
            .container .palavrasEncontradas .success-message{
                background-color: green;
            }
.popUpVideo{
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 9999;
    height: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: ease-in-out .2s;
    -moz-transition: ease-in-out .2s;
    -ms-transition: ease-in-out .2s;
    -o-transition: ease-in-out .2s;
    transition: ease-in-out .2s;
}
    .popUpVideo.showVideo{
        height: 100vh;
    }
    .popUpVideo span{
        position: absolute;
        right: 40px;
        top: 40px;
        font-size: 42px;
        font-weight: 100;
        z-index: 9999;
        cursor: pointer;
    }
        .popUpVideo span img{
            width: 36px;
        }
    .popUpVideo .divVideo{
        width: 100%;
        height: 100%;
        max-height: 100vh;
        max-width: 90%;
        margin: 0 auto;
    }
        .popUpVideo .divVideo figure{
            display: block;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 20px 0;
        }
            .popUpVideo .divVideo figure video{
                display: block;
                width: auto;
                max-width: 100%;
                margin: 0 auto;
                max-height: 100vh;
                height: 90%;
                outline: none;
            }
.gif{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:none;
}
    .gif img{
        
    }
    .container .cacaPalavra table tr td.cursorPointer:hover{
        color:#000;
        opacity: 1;;
     }